name: Tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Setup GHC
        uses: haskell/actions/setup@v2
        with:
          ghc-version: "9.2.6"
          enable-stack: true

      - name: Clone project
        uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ hashFiles('stack.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Build and run tests
        run: "stack test --fast --no-terminal --system-ghc"
