name: Tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        resolver:
          [
            "lts-21.15",
            "lts-20.26",
            "lts-19.33",
            "lts-18.28",
            "lts-16.31",
          ]
        include:
          - resolver: "lts-21.15"
            ghc: "9.4.7"
          - resolver: "lts-20.26"
            ghc: "9.2.8"
          - resolver: "lts-19.33"
            ghc: "9.0.2"
          - resolver: "lts-18.28"
            ghc: "8.10.7"
          - resolver: "lts-16.31"
            ghc: "8.8.4"

    steps:
      - name: Setup GHC
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          enable-stack: true
          stack-version: 'latest'

      - name: Clone project
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ matrix.resolver }}-${{ hashFiles('stack.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.resolver }}-

      # This entirely avoids the caching of a GHC version.
      - name: Build and run tests
        run: "stack test --fast --no-terminal --resolver=${{ matrix.resolver }} --system-ghc"
